*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
header{
    height: 100px;
    background-color:#C34922 ;
    color: #fff;
}
.header{
    max-width: 1140px;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul, .menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #C34922;
}
.menu li a:hover, .menu .active a{
    border-bottom: 5px solid #D5C7B0;
    color: #ccc;
}
.logo-img{
    width: 80px;
    height: 80px;
    background-color: #D5C7B0;
    border-radius: 50px;
}
.banner{
    height:calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/maxresdefault.jpg');
    background-size: cover;
    background-position: top;
    overflow: hidden;
}
.banner .sliders{
    width:1000vw ;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slide-area{
    display:flex;
    height: 100%;
    flex-direction: column;
    color: #fff;
    align-items: flex-end;
    justify-content: center;
    margin-right: 30px;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.banner h1 span{
    font-size: 50px;
    color: #CFA668;
}
.banner h2{
    text-transform: uppercase;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 20px;
}
.banner a:hover{
    filter: brightness(70%)
}
.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height:15px;
    border: 2px solid #CFA668;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer:hover{
    background-color: #CFA668;
}
.banner .pointer.active{
    background-color: #CFA668;
}
.default{
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title, .default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title{
    font-size: 20px;
    width: 100vw;
}
.default .section-desc{
    font-size: 12px;
    color: rgb(136, 131, 131);
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-body{
    margin: auto;
    max-width: 1140px;
}
.default.ligth{
    background-color: rgb(243, 236, 225);
}
.default.ligth .section-title, .default.ligth .section-body{
    color: #0d0c0f;
}
.default.dark{
    background-color: #241c30;
}
.default.dark .section-title, .default.dark .section-body{
    color: #fff;
}
.banner a{
    display: block;
    text-transform: uppercase;
    background-color: #CFA668;
    margin-right: 125px;
    margin-top:30px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px ;
    border-radius: 20px;
    transition: filter 0.2s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button{
    display: inline-block;
    margin-top:30px;
    color: #fff;
    text-transform: uppercase;
    background-color: #CFA668;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px ;
    border-radius: 20px;
    transition: filter 0.2s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button:hover{
    filter: brightness(70%)
}
/* CSS de áreas específicas*/

.section-aboutus{
    display: flex;
}
.section-aboutus--left{
    flex: 1;
}
.section-aboutus--left p{
    font-size: 14px;
    line-height: 25px;
}
.section-aboutus--right{
    width: 520px;
    text-align: center;
}
.section-aboutus--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #494646;
}
.section-services{
    display: flex;
}
.section-service{
    flex: 1;
    text-align: center;
    border-right: #494646 1px solid;
    padding: 15px;
}
.section-service:first-child{
    border-left: #494646 1px solid;
}
.section-service span{
    color: #C34922;
    font-size: 50px;
}
.section-service h4{
    margin: 0px;
    text-transform: uppercase;
    font-size: 18px;
}
.section-service p{
    margin-top: 0;
    font-size: 13px;
    color: rgb(119, 113, 113);
}


.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters{
    border: solid 1px rgb(168, 140, 97);
    background-color: #CFA668;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}
.section-projects--filters ul{
    display: flex;
}
.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}
.section-projects--filters li{
    display: inline-block;
    padding:10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid rgb(168, 140, 97);
    color: rgb(124, 105, 83);
    border-bottom: 3px solid #CFA668;
    cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid #C34922;
}
.section-projects--filters li:first-child{
    border-left: 0;
}
.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo{
    width: 280px;
}
.section-projects-photo-area{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects-photo-area img{
    width: inherit;
    height: inherit;
}
.section-projects-photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.section-projects-photoinfo h5{
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-size: 21px;
    font-weight: 600;
}
.section-projects-photo-area:hover .section-projects-photoinfo{
    display: flex;
    cursor: pointer;
}

.bg-team{
    background-image: url('../images/maxresdefault.jpg');
    background-size: cover;
    background-position: bottom;
    padding: 0;
}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-team .sliders{
    width: 100vw;
    height: 100%;
}
.section-team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #D5C7B0;
    margin-right: 20px;
}
.section-team .slide-area{
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0d0c0f;
    padding: 30px;
}
.section-team-area .sliders-pointers{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.section-team-area .pointer{
    width: 15px;
    height:15px;
    border: 2px solid #CFA668;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team-area .pointer:hover{
    background-color: #CFA668;
}
.section-team-area .pointer.active{
    background-color: #CFA668;
}
.avatar{
    width: 150px;
    height: auto;
}
.section-team-name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-team-role{
    color:#494646 ;
    font-size: 14px;
    margin-top: 5px;
}
.section-team-social{
    display: flex;
    margin-top: 20px;
}
.section-team-social a{
    text-decoration: none;
    background-color: #494646;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    margin-right: 10px;
}
.section-team-social a:hover{
    background-color: #CFA668;
}
.section-team-social a span{
    font-size: 13px;
    color: #D5C7B0;
}


.section-map{
    margin-top: 30px;
    background-image: url('../images/mapa.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-map-area{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section-map-info{
    width: 50%;
    padding: 30px;
    background-color: #D5C7B0;
    color: #0d0c0f;
}
.section-map-info-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.section-map-info-icon a{
    text-decoration: none;
    background-color: #494646;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    margin-right: 10px;
}
.section-map-info-icon a:hover{
    background-color: #CFA668;
}
.section-map-info-icon a span{
    font-size: 13px;
    color: #D5C7B0;
}

footer {
    background-color: #241c30;
}
.section-footer{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
    height: 180px;
}
.section-footer-content{
    padding: 30px;
    display: flex;
}
.section-footer-content .content{
    width: 280px;
    height: 120px;
    min-height: 300px;
    display: inline-block;
    margin-right: 20px;
}
.content-area-social{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-area-social span{
    color: #D5C7B0;
    font-size: 13px;
    font-weight: 500;
}
.content-area-text{
    text-align: justify;
    color: #D5C7B0;
    font-size: 13px;
}
.content-area-contact{
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #D5C7B0;
    padding-bottom: 5px;
}
.content-area-contact input{
    background-color: transparent;
    border-right: none;
    height: 30px;
}
.menu span{
    display: none;
}


@media (min-width:450px) and (max-width:800px){
    nav {
        position: absolute;
        z-index: 99;
        background-color: rgba(173, 51, 10, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu ul li a{
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: 0;
    }
    .menu ul li.active a{
        border: 0;
        color: #0d0c0f;
    }
    .menu span{
        width: 60px;
        font-size: 40px;
        margin-right: 15px;
        display: block;
    }
    .logo{
        margin-left: 30px;
    }

    .section-aboutus{
        flex-direction: column;
    }
    .section-aboutus--left{
        margin: 0 30px 30px 30px;
    }
    .section-aboutus--right{
        width: auto;
    }
    .section-services{
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 50%;
        margin-bottom: 30px;
    }
    .section-service:first-child{
        border-left: 0;
    }
    .section-team{
        max-width: 580px;
    }
    .section-map{
        padding-left: 30px;
        padding-right: 30px;
    }
    .section-map-area{
        width: auto;
    }
    .section-map-info{
        width: auto;
        margin-right: 15px;
    }
    .section-map-info-item:last-child{
        margin-bottom: 0;
    }
}

@media (max-width:450px){
    nav {
        position: absolute;
        z-index: 99;
        background-color: rgba(173, 51, 10, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu ul li a{
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 40px;
        border: 0;
    }
    .menu ul li.active a{
        border: 0;
        color: #0d0c0f;
    }
    .banner h2{
        font-size: 17px;
    }

    .menu span{
        width: 60px;
        font-size: 40px;
        margin-right: 15px;
        display: block;
    }
    .logo{
        margin-left: 30px;
    }

    .section-aboutus{
        flex-direction: column;
    }
    .section-aboutus--left{
        margin: 0 30px 30px 30px;
    }
    .section-aboutus--right{
        width: auto;
        margin-left: 15px;
        margin-right: 30px;
    }
    .section-aboutus--right img{
        width: 100%;
    }
    .section-services{
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 100%;
        margin-bottom: 30px;
    }
    .section-projects--filters ul{
        display: flex;
        flex-wrap: wrap;
    }
    .section-projects--filters{
        margin-left: 30px;
        margin-right: 30px;
    }
    .section-projects--photos{
        width: 320px;
    }
   .section-projects-photo-area{
        margin-left: 5px;
   }
    .section-projects-photo-area img{
        width: 300px;
        height: 190px;
        overflow: hidden;
    }
    .section-service:first-child{
        border-left: 0;
    }
    .section-team{
        max-width: 280px;
    }
    .section-map{
        padding: 0;
        padding-bottom: 250px;
    }
    .section-map-area{
        width: auto;
    }
    .section-map-info{
        width: auto;
        margin-right: 15px;
    }
    .section-map-info-item:last-child{
        margin-bottom: 0;
    }
}